work_dirs
data
cache/

__pycache__/
*/*.un~
.*.swp


logs/
*.egg-info/
*.egg
*.eggs
.ipynb_checkpoints/

output.txt
.vscode/*
.DS_Store
tmp.*
*.pt
*.pth
*.un~
*.so
build
*.jpg
build
results
venv
venv50
.vscode
.github
work_dirs
*.pth
*.onnx
*.engine
*.jetson
*.polygraphy
*.mp4
*.jpg
*.whl
*.11